.login{
    width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -225px;
    background-color: #e8e8e8;
    border-radius: 5px;
    color: #000;
    -webkit-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
    padding: 30px;
}

.login form{
    margin-top: 80px;

}
#erro{
    display: none;
}
#erroRel{
    display: none;
}

.main{
    margin-top: 100px;
}

#historico{
    display: none;
}